<div class="min-h-screen flex flex-col bg-slate-50">
  <!-- Header -->
  <header class="h-16 border-b border-slate-200 bg-white">
    <div class="h-full max-w-5xl mx-auto px-4 flex items-center justify-between">
      <a routerLink="/" class="flex items-center gap-2">
        <span class="text-xl">🐾</span>
        <span class="font-bold text-lg">PetCare</span>
      </a>

<nav class="flex items-center gap-4 text-sm">
  <a
    routerLink="/"
    routerLinkActive="text-black font-semibold"
    class="text-slate-600 hover:text-black"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Accueil
  </a>

  <a
    routerLink="/pets"
    routerLinkActive="text-black font-semibold"
    class="text-slate-600 hover:text-black"
  >
    Mes animaux
  </a>

  @if (!auth.isAuthenticated()) {
    <!-- Quand user non connecté : montrer Connexion / Inscription -->
    <a
      routerLink="/login"
      routerLinkActive="text-black font-semibold"
      class="text-slate-600 hover:text-black"
    >
      Connexion
    </a>
    <a
      routerLink="/register"
      routerLinkActive="text-black font-semibold"
      class="text-slate-600 hover:text-black"
    >
      Inscription
    </a>
  } @else {
    <!-- Quand user connecté : montrer email + bouton Déconnexion -->
    <span class="text-slate-500">
      {{ auth.currentUser?.email }}
    </span>
    <button
      type="button"
      class="px-3 py-1 rounded-full border text-xs hover:bg-slate-100"
      (click)="onLogout()"
    >
      Déconnexion
    </button>
  }
</nav>
    </div>
  </header>

  <!-- Contenu -->
  <main class="flex-1">
    <router-outlet />
  </main>

  <!-- Footer -->
  <footer class="border-t border-slate-200 bg-white">
    <div class="max-w-5xl mx-auto px-4 py-3 text-xs text-slate-500 flex justify-between">
      <span>© {{ currentYear }} PetCare</span>
      <span>Fullstack Angular & Spring Boot</span>
    </div>
  </footer>
</div>
